* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (max-width: 400px) {
  canvas {
    margin-top: 100px;
  }

  * {
    font-size: 0.7rem;
  }

  #info-container {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 20px;
  }

  #buttons {
    flex-direction: column;
  }
}

#info-container {
  display: flex;
  margin: 50px;
}

p {
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  border: 3px solid rgb(90, 252, 112);
  padding: 1rem;
}

#buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  top: 850px;
  left: 60px;
}

label {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

input {
  padding: 0.2rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
